/*
**********
common 
**********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
**********
debug 
**********
*/
.debug .header-blocco1{
    background-color: #add8e6;
    
}

.debug .header-intestazioni{
    height: 45px;
}

.debug .header-logo{
    border: 2px dashed black;
    padding-left: 15px;
}

.debug .header-link{
    border: 2px dashed black;     
}

.debug .header-login{
    border: 2px dashed black; 
    padding-right: 15px;
}

.debug .header-blocco2{
    height: 520px;
    background-color: #00008b;
}

.debug .header-big{
    background-color: #ee82ee;
    height: 415px;
    border: 2px dashed black;
}

.debug .main1, .main3{
    background-color: white;
    height: 630px;
}

.debug .main1-left, .main3-left{
    background-color: #1e90ff;
    
    border: 2px dashed black;

}
.debug .main1-right, .main3-right{
    background-color: #ffc0cb;
    
    border: 2px dashed black;

}

.debug .container-main1, .container-main3{
    height: 520px;

}

.debug .main2{
    background-color: #d3d3d3;
    
}

.debug .main2-left{
    background-color: #1e90ff;
    height: 520px;
    border: 2px dashed black;

}
.debug .main2-right{
    background-color: #ffc0cb;
    height: 520px;
    border: 2px dashed black;

}

.debug .container-main2{
    height: 520px;
}

.debug .main-big{
    background-color: #228b22;
    height: 935px;
    border: 2px dashed black;

}

.main4{
    background-color: #d3d3d3;
}


.debug .footer1{
height: 600px;
}
.debug .footer1-left{
    background-color: #f08080;
    height: 600px;
    border: 2px dashed black;
}
.debug .footer1-right{
    background-color: #20b2aa;
    height: 600px;
    border: 2px dashed black;
}

/*
**********
header
**********
*/
.header-intestazioni{
    background-color: #daa520;
    display: flex;
    width: 1250px;
    margin: 0 auto;
}

.header-blocco1{
    width: 100%;
    padding-top: 20px;
    height: 85px;
}

.header-logo{
    width: 250px;
    align-items: center;
    display: flex;   
}

.header-link{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    .header-login{
        width: 250px;
    align-items: center;
    display: flex;
    justify-content: end;
    }

    .header-big{
        width: 945px;
        margin: 0 auto;
    }

    .header-blocco2{ 
        padding: 52px;
        height: 520px;
    }

    /*
**********
/header
**********
*/


/*
**********
main
**********
*/


.main1, .main3{
    padding: 54px;
    height: 630px;
}

.container-main1, .container-main3{
    display: flex;
    width: 1250px;
    margin: 0 auto;
}

.main1-left, .main3-left{
    width: 750px;    
}

.main1-right, .main3-right{
    width: calc(100% - 750px);  
}

.main2{
    padding: 54px;
    height: 625px;
}

.container-main2{
    display: flex;
    width: 1250px;
    margin: 0 auto;
    flex-direction: row-reverse;
}

.main2-left{
    width: 750px;    
}

.main2-right{
    width: calc(100% - 750px);   
}

.main-big{
    width: 1250px;   
}

.container-main4{
    padding-top: 52px;
    width: 1250px;
    margin: 0 auto;
    padding-bottom: 52px;
}
.main4{
    height: 1040px;
}

/*
**********
/main
**********
*/

/*
**********
footer 
**********
*/


.container-footer1{
    background-color: #23272a;
height: 660px;
}

.footer1-left{
    width: 375px;
}

.footer1-right{
    width: calc(100% - 375px);
    display: flex;

}

.footer1{
width: 1250px;
margin: 0 auto;
display: flex;
padding-top: 10px;
}

.footer1-right > .blocchi-right{
    width: calc(100% / 4);
    border: 2px dashed white;
}

.container-footer2{
    height: 115px;
    background-color: #23272a;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: end;

}

.footer2{
    background-color: #7fffd4;
    height: 85px;
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
background-color: #ffb6c1;
height: 40px;
width: 70px;
display: flex;
justify-content: center;
align-items: center;
border: 2px dashed black;
font-size: 20px;

}

.bottone{
    background-color: #ffb6c1;
height: 40px;
width: 95px;
display: flex;
justify-content: center;
align-items: center;
border: 2px dashed black;
font-size: 20px;

}

/*
**********
/footer 
**********
*/

   