/*
**********
common 
**********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
**********
debug 
**********
*/
.debug .header-blocco1{
    background-color: #add8e6;
    height: 85px;
}

.debug .header-intestazioni{
    height: 45px;
}

.debug .header-logo{
    border: 2px dashed black;
    padding-left: 15px;
}

.debug .header-link{
    border: 2px dashed black;     
}

.debug .header-login{
    border: 2px dashed black; 
    padding-right: 15px;
}

.debug .header-blocco2{
    height: 520px;
    background-color: #00008b;
}

.debug .header-big{
    background-color: #ee82ee;
    height: 415px;
    border: 2px dashed black;
}

.debug .main1{
    background-color: white;
    height: 630px;
}

.debug .main1-left{
    background-color: #1e90ff;
    height: 520px;
    border: 2px dashed black;

}
.debug .main1-right{
    background-color: #ffc0cb;
    height: 520px;
    border: 2px dashed black;

}

.debug .container-main1{
    height: 520px;

}

.debug .main2{
    background-color: #d3d3d3;
    height: 630px;
}

.debug .main2-left{
    background-color: #1e90ff;
    height: 520px;
    border: 2px dashed black;

}
.debug .main2-right{
    background-color: #ffc0cb;
    height: 520px;
    border: 2px dashed black;

}

.debug .container-main2{
    height: 520px;
}


/*
**********
header
**********
*/
.header-intestazioni{
    background-color: #daa520;
    display: flex;
    width: 1250px;
    margin: 0 auto;
}

.header-blocco1{
    width: 100%;
    padding-top: 20px;
}

.header-logo{
    width: 250px;
    align-items: center;
    display: flex;   
}

.header-link{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    .header-login{
        width: 250px;
    align-items: center;
    display: flex;
    justify-content: end;
    }

    .header-big{
        width: 945px;
        margin: 0 auto;
    }

    .header-blocco2{ 
        padding: 52px;
    }

    /*
**********
/header
**********
*/


/*
**********
main
**********
*/

.main1{
    padding: 54px;
}
.container-main1{
    display: flex;
    width: 1250px;
    margin: 0 auto;
    
    

}

.main1-left{
    width: 750px;
    
}

.main1-right{
    width: calc(100% - 750px);
    
    
}
.main2{
    padding: 54px;
}
.container-main2{
    display: flex;
    width: 1250px;
    margin: 0 auto;
    flex-direction: row-reverse;

    
    
    

}

.main2-left{
    width: 750px;
    
}

.main2-right{
    width: calc(100% - 750px);
    
    
}





/*
**********
footer 
**********
*/